/grp_mtg_figs
/ismb_figures
/figures
/mlcb_figures
/data
/results
/data_preprocess/parse_data.ipynb
/notebooks
/code/test.sh
/code/train_without_scheduler.sh
/code/wandb
/code/__pycache__
/code/korb
/code/eval_distilled_avg_DeepSTARR.sh
/code/get_rng_downsample_ix.sh
/code/test_rng_downsampling.py
