/zenodo
/bds2024_figs
/grp_mtg_figs
/ismb_figures
/figures
/mlcb_figures
/data
/results
/data_preprocessing/parse_data.ipynb
/data_preprocessing/get_missing_cagi_alleles.ipynb
/data_preprocessing/test_ood_shift_DeepSTARR.ipynb
/notebooks
/code/test.sh
/code/train_without_scheduler.sh
/code/wandb
/code/__pycache__
/code/korb
/code/eval_distilled_avg_DeepSTARR.sh
/code/get_rng_downsample_ix.sh
/code/test_rng_downsampling.py
